$normalColor: #000;
$normalColor2: #2d2f35;
$normalColor3: #010101;
$aHoverColor: #d60500;
$borderTopColor: #fecf00;
$borderBottomColor: #e2b12d;
$grey1: #a3a3a3;
$grey2: #5e5e5e;
$red1: #bf2929;
$greenTextColor: #659d02;
$borderColor2: #d3d3d3;
$widthLeftMenu: 256px;
$widthItemLeftMenu: 250px;
$bgColorLeftMenu: #ececec;
$frontColorLeftMenu: #555;
$widthLeftMenuMin: 80px;
$greyBorderColor: #808080;
$thBorderColor: #9a9a9a;
$thBackColor: #ededed;
$tdLinkColor: #7a7a7a;

$brownTextColor: #997a59;
$maroonTextColor: #a94927;
$orangeHoverColor: #d8bc60;
$blueBackGroundColor: #527494;
$blueHoverColor: #a0b8d2;
$headerColor: #ad3a30;

$favoriteBackGround: #121a67;

$font-app: "Arial",
sans-serif;