@font-face {
  font-family: 'PFBeauSansPro';
  src: url('../font/pfbeausanspro-regular-webfont.eot');
  src: url('../font/pfbeausanspro-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../font/pfbeausanspro-regular-webfont.woff') format('woff'),
    url('../font/pfbeausanspro-regular-webfont.ttf') format('truetype'),
    url('../font/pfbeausanspro-regular-webfont.svg#pf_beausans_proregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PFBeauSansPro';
  src: url('../font/pfbeausanspro-light-webfont.eot');
  src: url('../font/pfbeausanspro-light-webfont.eot?#iefix') format('embedded-opentype'),
    url('../font/pfbeausanspro-light-webfont.woff') format('woff'),
    url('../font/pfbeausanspro-light-webfont.ttf') format('truetype'),
    url('../font/pfbeausanspro-light-webfont.svg#pf_beausans_prolight') format('svg');
  font-weight: light;
  font-style: normal;
}

@font-face {
  font-family: 'PFBeauSansPro';
  src: url('../font/pfbeausanspro-bold-webfont.eot');
  src: url('../font/pfbeausanspro-bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../font/pfbeausanspro-bold-webfont.woff') format('woff'),
    url('../font/pfbeausanspro-bold-webfont.ttf') format('truetype'),
    url('../font/pfbeausanspro-bold-webfont.svg#pf_beausans_probold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'PFAgoraSansPro';
  src: url('../font/pfagorasanspro-regular-webfont.eot');
  src: url('../font/pfagorasanspro-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../font/pfagorasanspro-regular-webfont.woff') format('woff'),
    url('../font/pfagorasanspro-regular-webfont.ttf') format('truetype'),
    url('../font/pfagorasanspro-regular-webfont.svg#pf_agora_sans_proregular') format('svg');
  font-weight: normal;
  font-style: normal;
}